<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>babies</title>
    <link rel="stylesheet" href="css/bbestyle.css">
  </head>
  <body background="https://cdn.wallpapersafari.com/90/51/CpR8Vv.jpg">
  <center>
    <h2>SUPPLEMENTS</h2>

  <div>
    <table cellspacing=10>

        <tr>
        <th bgcolor="white">MEDICINE NAME</th>
        <th  bgcolor="white">SHOPS </th>
        </tr>


        <tr>
          <td  bgcolor="white">Cerelac</td>
          <td  bgcolor="white">30</td>
          </tr>
          <tr>
            <td  bgcolor="white">Amulspray</td>
            <td  bgcolor="white">110</td>
            </tr>
            <tr>
              <td  bgcolor="white">Manna</td>
              <td  bgcolor="white">80</td>
              </tr>
              <tr>
                <td  bgcolor="white">Pediasure</td>
                <td  bgcolor="white">50</td>
                </tr>
                <tr>
                  <td  bgcolor="white">Horlicks</td>
                  <td  bgcolor="white">70</td>
                  </tr>
                  <tr>
                    <td  bgcolor="white">Boost</td>
                    <td  bgcolor="white">90</td>
                    </tr>
                    <tr>
                      <td  bgcolor="white">Mother's plus</td>
                      <td  bgcolor="white">120</td>
                      </tr>
                      <tr>
                        <td  bgcolor="white">Maltovita</td>
                        <td  bgcolor="white">60</td>
                        </tr>
                        <tr>
                          <td  bgcolor="white">Grow up</td>
                          <td  bgcolor="white">70</td>
                          </tr>
                          <tr>
                            <td  bgcolor="white">Mothers plus</td>
                            <td  bgcolor="white">90</td>
                            </tr>
                          </table>
                        </div>




                        </center>

                      <br><center>
                     <a href="file:///D:/hospital%20website/index.html#">ORDER NOW!!</a>
                   </center>
  </body>
</html>
